DATABASE_URL="postgresql://yaroslavich:yaroslavich@localhost:5432/yaroslavich_performance"
NEXT_PUBLIC_APP_NAME="YAROSLAVICH PERFORMANCE"
NODE_ENV="development"
AUTH_PASSWORD=your_secure_password_here